<form action=<%= @action %> method=<%= @method %> style="border: 1px solid red">
	<input type="text" name="title" placeholder=<%= @placeholder %> value=<%= @value %>>
	<button><%= @buttontext %></button>
</form>